{
	"NDI":{
		"NDI_width":1920,
		"NDI_height":180,
		"frameRateNumerator":50,
		"frameRateDenominator":1,
		"Point1_X":145,
		"Point1_Y":871,
		"Point2_X":145,
		"Point2_Y":943,
		"Color_Name":"White",
		"Color":{
			"alpha":255,
			"red":255,
			"green":255,
			"blue":255
		},
		"Fade_Time":500
	},
	"Font-Size":30
}